USE [dbmlm]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuText] [nvarchar](100) NOT NULL,
	[MenuURL] [nvarchar](400) NOT NULL,
	[ParentId] [int] NULL,
	[SortOrder] [int] NULL,
 CONSTRAINT [PK_dbo.Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Menu] ON
INSERT [dbo].[Menu] ([Id], [MenuText], [MenuURL], [ParentId], [SortOrder]) VALUES (1, N'Role', N'Role', 97, NULL)
INSERT [dbo].[Menu] ([Id], [MenuText], [MenuURL], [ParentId], [SortOrder]) VALUES (4, N'User', N'User', 97, NULL)
INSERT [dbo].[Menu] ([Id], [MenuText], [MenuURL], [ParentId], [SortOrder]) VALUES (7, N'RoleUser', N'RoleUser', 97, NULL)
SET IDENTITY_INSERT [dbo].[Menu] OFF
/****** Object:  Table [dbo].[MemberShipLevel]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberShipLevel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.MemberShipLevel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MemberShipLevel] ON
INSERT [dbo].[MemberShipLevel] ([Id], [Title]) VALUES (1, N'Defaut')
INSERT [dbo].[MemberShipLevel] ([Id], [Title]) VALUES (2, N'Gold')
INSERT [dbo].[MemberShipLevel] ([Id], [Title]) VALUES (3, N'Silver')
SET IDENTITY_INSERT [dbo].[MemberShipLevel] OFF
/****** Object:  Table [dbo].[Leg]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leg](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Leg] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Leg] ON
INSERT [dbo].[Leg] ([Id], [Name]) VALUES (1, N'Left')
INSERT [dbo].[Leg] ([Id], [Name]) VALUES (2, N'Right')
SET IDENTITY_INSERT [dbo].[Leg] OFF
/****** Object:  Table [dbo].[LedgerAccountType]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LedgerAccountType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_dbo.LedgerAccountType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LedgerAccountType] ON
INSERT [dbo].[LedgerAccountType] ([Id], [Title], [ParentId]) VALUES (1, N'Wallet', NULL)
SET IDENTITY_INSERT [dbo].[LedgerAccountType] OFF
/****** Object:  Table [dbo].[Gender]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_dbo.Gender] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Gender] ON
INSERT [dbo].[Gender] ([Id], [Name], [IsActive]) VALUES (1, N'Male', 1)
INSERT [dbo].[Gender] ([Id], [Name], [IsActive]) VALUES (2, N'Female', 1)
INSERT [dbo].[Gender] ([Id], [Name], [IsActive]) VALUES (3, N'OTHER', 1)
SET IDENTITY_INSERT [dbo].[Gender] OFF
/****** Object:  Table [dbo].[Country]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Code] [nvarchar](3) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_dbo.Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Country] ON
INSERT [dbo].[Country] ([Id], [Name], [Code], [IsActive]) VALUES (4, N'India', N'in', 1)
INSERT [dbo].[Country] ([Id], [Name], [Code], [IsActive]) VALUES (5, N'Canada', N'ca', 1)
SET IDENTITY_INSERT [dbo].[Country] OFF
/****** Object:  Table [dbo].[ContactType]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_dbo.ContactType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ContactType] ON
INSERT [dbo].[ContactType] ([Id], [TypeName]) VALUES (1, N'Emails')
INSERT [dbo].[ContactType] ([Id], [TypeName]) VALUES (2, N'Mobile')
INSERT [dbo].[ContactType] ([Id], [TypeName]) VALUES (3, N'Address')
SET IDENTITY_INSERT [dbo].[ContactType] OFF
/****** Object:  Table [dbo].[PaymentStatus]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.PaymentStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PaymentStatus] ON
INSERT [dbo].[PaymentStatus] ([Id], [Title]) VALUES (1, N'Pending')
INSERT [dbo].[PaymentStatus] ([Id], [Title]) VALUES (2, N'Paused')
INSERT [dbo].[PaymentStatus] ([Id], [Title]) VALUES (3, N'Done')
SET IDENTITY_INSERT [dbo].[PaymentStatus] OFF
/****** Object:  Table [dbo].[PaymentModeType]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentModeType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.PaymentModeType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PaymentModeType] ON
INSERT [dbo].[PaymentModeType] ([Id], [Title]) VALUES (1, N'Paypal')
SET IDENTITY_INSERT [dbo].[PaymentModeType] OFF
/****** Object:  Table [dbo].[Role]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Role] ON
INSERT [dbo].[Role] ([Id], [RoleName], [IsActive]) VALUES (1, N'Admin', 1)
INSERT [dbo].[Role] ([Id], [RoleName], [IsActive]) VALUES (2, N'User', 1)
SET IDENTITY_INSERT [dbo].[Role] OFF
/****** Object:  Table [dbo].[RewardType]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RewardType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_dbo.RewardType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RewardType] ON
INSERT [dbo].[RewardType] ([Id], [Name], [IsActive]) VALUES (1, N'vehicle', 1)
SET IDENTITY_INSERT [dbo].[RewardType] OFF
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_dbo.ProductCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] ON
INSERT [dbo].[ProductCategory] ([Id], [Name], [ParentId]) VALUES (1, N'Home Care', NULL)
INSERT [dbo].[ProductCategory] ([Id], [Name], [ParentId]) VALUES (2, N'Art', NULL)
INSERT [dbo].[ProductCategory] ([Id], [Name], [ParentId]) VALUES (3, N'Clothing', NULL)
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
/****** Object:  Table [dbo].[User]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[ParentId] [int] NULL,
	[LegId] [int] NULL,
	[MemberShipLevelId] [int] NOT NULL,
	[RegisterPin] [nvarchar](35) NULL,
	[ProductId] [int] NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON
INSERT [dbo].[User] ([Id], [Username], [Password], [ParentId], [LegId], [MemberShipLevelId], [RegisterPin], [ProductId]) VALUES (1, N'admin', N'admin', NULL, 1, 1, NULL, NULL)
INSERT [dbo].[User] ([Id], [Username], [Password], [ParentId], [LegId], [MemberShipLevelId], [RegisterPin], [ProductId]) VALUES (2, N'User 2', N'user', 1, 1, 1, NULL, NULL)
INSERT [dbo].[User] ([Id], [Username], [Password], [ParentId], [LegId], [MemberShipLevelId], [RegisterPin], [ProductId]) VALUES (3, N'User 3', N'user', 1, 2, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
/****** Object:  Table [dbo].[Product]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[PurchaseCost] [float] NOT NULL,
	[SalePrice] [float] NULL,
	[IsActive] [bit] NOT NULL,
	[ProductImage] [nvarchar](200) NULL,
	[BareCode] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Manufacturer] [nvarchar](200) NULL,
	[ProductCategoryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON
INSERT [dbo].[Product] ([Id], [Name], [PurchaseCost], [SalePrice], [IsActive], [ProductImage], [BareCode], [Description], [Manufacturer], [ProductCategoryId]) VALUES (1, N'Juice Machine', 800, 900, 1, NULL, NULL, N'Juice Machine<br>', N'j', 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
/****** Object:  Table [dbo].[State]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Code] [nvarchar](5) NULL,
	[IsActive] [bit] NULL,
	[CountryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.State] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[State] ON
INSERT [dbo].[State] ([Id], [Name], [Code], [IsActive], [CountryId]) VALUES (2, N'Punjab', N'pun', 1, 4)
SET IDENTITY_INSERT [dbo].[State] OFF
/****** Object:  Table [dbo].[Reward]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reward](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Detail] [nvarchar](1000) NULL,
	[RewardTypeId] [int] NOT NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_dbo.Reward] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Reward] ON
INSERT [dbo].[Reward] ([Id], [Title], [Detail], [RewardTypeId], [IsActive]) VALUES (1, N'Car', N'Car', 1, 1)
INSERT [dbo].[Reward] ([Id], [Title], [Detail], [RewardTypeId], [IsActive]) VALUES (2, N'Bike', N'Bike', 1, 1)
SET IDENTITY_INSERT [dbo].[Reward] OFF
/****** Object:  Table [dbo].[RewardUser]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RewardUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RewardId] [int] NOT NULL,
	[Qty] [int] NULL,
 CONSTRAINT [PK_dbo.RewardUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RewardUser] ON
INSERT [dbo].[RewardUser] ([Id], [UserId], [RewardId], [Qty]) VALUES (1, 1, 1, 1)
INSERT [dbo].[RewardUser] ([Id], [UserId], [RewardId], [Qty]) VALUES (2, 1, 2, 1)
SET IDENTITY_INSERT [dbo].[RewardUser] OFF
/****** Object:  Table [dbo].[MenuPermission]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuPermission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuId] [int] NULL,
	[RoleId] [int] NOT NULL,
	[UserId] [int] NULL,
	[SortOrder] [int] NULL,
	[IsNavBar] [bit] NOT NULL,
	[IsCreate] [bit] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[IsUpdate] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.MenuPermission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MenuPermission] ON
INSERT [dbo].[MenuPermission] ([Id], [MenuId], [RoleId], [UserId], [SortOrder], [IsNavBar], [IsCreate], [IsRead], [IsUpdate], [IsDelete]) VALUES (34, 1, 1, NULL, NULL, 1, 1, 1, 1, 1)
INSERT [dbo].[MenuPermission] ([Id], [MenuId], [RoleId], [UserId], [SortOrder], [IsNavBar], [IsCreate], [IsRead], [IsUpdate], [IsDelete]) VALUES (35, 4, 1, NULL, NULL, 1, 1, 1, 1, 1)
INSERT [dbo].[MenuPermission] ([Id], [MenuId], [RoleId], [UserId], [SortOrder], [IsNavBar], [IsCreate], [IsRead], [IsUpdate], [IsDelete]) VALUES (36, 7, 1, NULL, NULL, 1, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[MenuPermission] OFF
/****** Object:  Table [dbo].[Invoice]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BillDate] [datetime] NOT NULL,
	[DueDate] [datetime] NULL,
	[Status] [int] NOT NULL,
	[LastEmailed] [datetime] NULL,
	[OtherInvoiceCode] [nvarchar](50) NULL,
	[ClientId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Invoice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonationRequest]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonationRequest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Amount] [float] NOT NULL,
	[DateAdded] [datetime] NULL,
	[RequiredTill] [datetime] NULL,
	[IsActive] [bit] NULL,
	[RequestNote] [nvarchar](1000) NULL,
 CONSTRAINT [PK_dbo.DonationRequest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Latitude] [nvarchar](15) NULL,
	[Longitude] [nvarchar](15) NULL,
	[IsActive] [bit] NULL,
	[StateId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[City] ON
INSERT [dbo].[City] ([Id], [Name], [Latitude], [Longitude], [IsActive], [StateId]) VALUES (2, N'Jalandhar', N'Jalandhar', N'Jalandhar', 1, 2)
SET IDENTITY_INSERT [dbo].[City] OFF
/****** Object:  Table [dbo].[ePinRequest]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ePinRequest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Qty] [int] NOT NULL,
	[FromUserId] [int] NOT NULL,
	[DateAdded] [datetime] NULL,
	[IsApproved] [bit] NULL,
	[ApprovedBy] [int] NULL,
 CONSTRAINT [PK_dbo.ePinRequest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ePinRequest] ON
INSERT [dbo].[ePinRequest] ([Id], [Title], [Qty], [FromUserId], [DateAdded], [IsApproved], [ApprovedBy]) VALUES (1, N'need pins', 1, 1, CAST(0x0000A73500C30438 AS DateTime), 1, 1)
INSERT [dbo].[ePinRequest] ([Id], [Title], [Qty], [FromUserId], [DateAdded], [IsApproved], [ApprovedBy]) VALUES (2, N'need pins', 3, 1, CAST(0x0000A73500C32C10 AS DateTime), 1, 1)
INSERT [dbo].[ePinRequest] ([Id], [Title], [Qty], [FromUserId], [DateAdded], [IsApproved], [ApprovedBy]) VALUES (3, N'g', 2, 1, CAST(0x0000A735011E5E28 AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[ePinRequest] OFF
/****** Object:  Table [dbo].[LedgerAccount]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LedgerAccount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[LedgerAccountTypeId] [int] NOT NULL,
	[Currency] [nvarchar](10) NOT NULL,
	[AccountCode] [nvarchar](50) NULL,
	[AccountColor] [nvarchar](10) NULL,
	[ParentId] [int] NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.LedgerAccount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LedgerAccount] ON
INSERT [dbo].[LedgerAccount] ([Id], [Title], [LedgerAccountTypeId], [Currency], [AccountCode], [AccountColor], [ParentId], [UserId]) VALUES (1, N'My Wallet', 1, N'$', NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[LedgerAccount] OFF
/****** Object:  Table [dbo].[RoleUser]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.RoleUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RoleUser] ON
INSERT [dbo].[RoleUser] ([Id], [RoleId], [UserId]) VALUES (1, 1, 1)
INSERT [dbo].[RoleUser] ([Id], [RoleId], [UserId]) VALUES (2, 2, 2)
INSERT [dbo].[RoleUser] ([Id], [RoleId], [UserId]) VALUES (3, 2, 3)
SET IDENTITY_INSERT [dbo].[RoleUser] OFF
/****** Object:  Table [dbo].[UserContactInfo]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserContactInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContactTypeId] [int] NOT NULL,
	[ContactDetail] [nvarchar](200) NOT NULL,
	[UserId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.UserContactInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserContactInfo] ON
INSERT [dbo].[UserContactInfo] ([Id], [ContactTypeId], [ContactDetail], [UserId], [IsActive]) VALUES (1, 1, N'testing@gmail.com', 2, 1)
INSERT [dbo].[UserContactInfo] ([Id], [ContactTypeId], [ContactDetail], [UserId], [IsActive]) VALUES (2, 2, N'333333333', 2, 1)
INSERT [dbo].[UserContactInfo] ([Id], [ContactTypeId], [ContactDetail], [UserId], [IsActive]) VALUES (3, 3, N'Jalandhar', 2, 1)
SET IDENTITY_INSERT [dbo].[UserContactInfo] OFF
/****** Object:  Table [dbo].[UserBankInfo]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserBankInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountHolderName] [nvarchar](100) NULL,
	[UserId] [int] NOT NULL,
	[BankName] [nvarchar](100) NULL,
	[AccountNumber] [nvarchar](100) NULL,
	[Branch] [nvarchar](200) NULL,
	[IFCI_Code] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.UserBankInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserBankInfo] ON
INSERT [dbo].[UserBankInfo] ([Id], [AccountHolderName], [UserId], [BankName], [AccountNumber], [Branch], [IFCI_Code], [IsActive]) VALUES (1, N'SOHAIL', 1, N'OBC', N'234234134', N'JALANDHAR', N'51448', 1)
INSERT [dbo].[UserBankInfo] ([Id], [AccountHolderName], [UserId], [BankName], [AccountNumber], [Branch], [IFCI_Code], [IsActive]) VALUES (2, N'sonu', 1, N'sonu', N'sonu', N'icici', N'sonu', 1)
SET IDENTITY_INSERT [dbo].[UserBankInfo] OFF
/****** Object:  Table [dbo].[UserPersonalInfo]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPersonalInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](200) NOT NULL,
	[LastName] [nvarchar](200) NULL,
	[GenderId] [int] NOT NULL,
	[About] [nvarchar](max) NULL,
	[ProfileImage] [nvarchar](200) NULL,
	[DateJoin] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[MiddleName] [nvarchar](200) NULL,
	[Email] [nvarchar](33) NULL,
	[FatherAndSpouseName] [nvarchar](100) NULL,
	[DOB] [datetime] NULL,
	[MotherName] [nvarchar](100) NULL,
	[NomineName] [nvarchar](100) NULL,
	[CityId] [int] NOT NULL,
	[ZipCode] [nvarchar](10) NULL,
	[PanNumber] [nvarchar](50) NULL,
	[EducationDetail] [nvarchar](500) NULL,
	[LastEmployeeFirm] [nvarchar](100) NULL,
	[LastEmployeeYear] [nvarchar](10) NULL,
	[LastEmployeeAnualIncome] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_dbo.UserPersonalInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserPersonalInfo] ON
SET IDENTITY_INSERT [dbo].[UserPersonalInfo] OFF
/****** Object:  Table [dbo].[Transaction]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[DateAdded] [datetime] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[CompanyOfficeId] [int] NOT NULL,
	[DebitLedgerAccountId] [int] NULL,
	[DebitAmount] [float] NULL,
	[CreditLedgerAccountId] [int] NULL,
	[CreditAmount] [float] NULL,
	[TransactionDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Transaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Transaction] ON
INSERT [dbo].[Transaction] ([Id], [Title], [DateAdded], [AddedBy], [CompanyOfficeId], [DebitLedgerAccountId], [DebitAmount], [CreditLedgerAccountId], [CreditAmount], [TransactionDate]) VALUES (1, N'Add money from paypal to my wallet', CAST(0x0000A7350108BD0C AS DateTime), 1, 1, NULL, NULL, 1, 1000, CAST(0x0000A73500000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[Transaction] OFF
/****** Object:  Table [dbo].[InvoiceTransaction]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceTransaction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransactionId] [int] NOT NULL,
	[InvoiceId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.InvoiceTransaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceItem]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[UnitName] [int] NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.InvoiceItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ePinCode]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ePinCode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ePinRequestId] [int] NOT NULL,
	[PCode] [nvarchar](35) NULL,
	[DateAdded] [datetime] NULL,
 CONSTRAINT [PK_dbo.ePinCode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ePinCode] ON
INSERT [dbo].[ePinCode] ([Id], [ePinRequestId], [PCode], [DateAdded]) VALUES (1, 1, N'c85c2486-72cd-4dfa-b732-da8c2dda', CAST(0x0000A735011D4770 AS DateTime))
INSERT [dbo].[ePinCode] ([Id], [ePinRequestId], [PCode], [DateAdded]) VALUES (2, 2, N'26281021-7c3a-4f92-9a48-6e48880b', CAST(0x0000A735011D8213 AS DateTime))
INSERT [dbo].[ePinCode] ([Id], [ePinRequestId], [PCode], [DateAdded]) VALUES (3, 2, N'2cdc6621-09c9-4358-839d-eb5965d9', CAST(0x0000A735011D8771 AS DateTime))
SET IDENTITY_INSERT [dbo].[ePinCode] OFF
/****** Object:  Table [dbo].[DonationTransaction]    Script Date: 03/13/2017 17:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonationTransaction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DonationRequestId] [int] NOT NULL,
	[TransactionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.DonationTransaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_dbo.City_dbo.State_StateId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_dbo.City_dbo.State_StateId] FOREIGN KEY([StateId])
REFERENCES [dbo].[State] ([Id])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_dbo.City_dbo.State_StateId]
GO
/****** Object:  ForeignKey [FK_dbo.DonationRequest_dbo.User_UserId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[DonationRequest]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DonationRequest_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[DonationRequest] CHECK CONSTRAINT [FK_dbo.DonationRequest_dbo.User_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.DonationTransaction_dbo.DonationRequest_DonationRequestId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[DonationTransaction]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DonationTransaction_dbo.DonationRequest_DonationRequestId] FOREIGN KEY([DonationRequestId])
REFERENCES [dbo].[DonationRequest] ([Id])
GO
ALTER TABLE [dbo].[DonationTransaction] CHECK CONSTRAINT [FK_dbo.DonationTransaction_dbo.DonationRequest_DonationRequestId]
GO
/****** Object:  ForeignKey [FK_dbo.DonationTransaction_dbo.Transaction_TransactionId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[DonationTransaction]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DonationTransaction_dbo.Transaction_TransactionId] FOREIGN KEY([TransactionId])
REFERENCES [dbo].[Transaction] ([Id])
GO
ALTER TABLE [dbo].[DonationTransaction] CHECK CONSTRAINT [FK_dbo.DonationTransaction_dbo.Transaction_TransactionId]
GO
/****** Object:  ForeignKey [FK_dbo.ePinCode_dbo.ePinRequest_ePinRequestId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[ePinCode]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ePinCode_dbo.ePinRequest_ePinRequestId] FOREIGN KEY([ePinRequestId])
REFERENCES [dbo].[ePinRequest] ([Id])
GO
ALTER TABLE [dbo].[ePinCode] CHECK CONSTRAINT [FK_dbo.ePinCode_dbo.ePinRequest_ePinRequestId]
GO
/****** Object:  ForeignKey [FK_dbo.ePinRequest_dbo.User_FromUserId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[ePinRequest]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ePinRequest_dbo.User_FromUserId] FOREIGN KEY([FromUserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[ePinRequest] CHECK CONSTRAINT [FK_dbo.ePinRequest_dbo.User_FromUserId]
GO
/****** Object:  ForeignKey [FK_dbo.Invoice_dbo.PaymentStatus_Status]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Invoice_dbo.PaymentStatus_Status] FOREIGN KEY([Status])
REFERENCES [dbo].[PaymentStatus] ([Id])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_dbo.Invoice_dbo.PaymentStatus_Status]
GO
/****** Object:  ForeignKey [FK_dbo.Invoice_dbo.User_ClientId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Invoice_dbo.User_ClientId] FOREIGN KEY([ClientId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_dbo.Invoice_dbo.User_ClientId]
GO
/****** Object:  ForeignKey [FK_dbo.InvoiceItem_dbo.Invoice_InvoiceId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[InvoiceItem]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InvoiceItem_dbo.Invoice_InvoiceId] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoice] ([Id])
GO
ALTER TABLE [dbo].[InvoiceItem] CHECK CONSTRAINT [FK_dbo.InvoiceItem_dbo.Invoice_InvoiceId]
GO
/****** Object:  ForeignKey [FK_dbo.InvoiceTransaction_dbo.Invoice_InvoiceId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[InvoiceTransaction]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InvoiceTransaction_dbo.Invoice_InvoiceId] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoice] ([Id])
GO
ALTER TABLE [dbo].[InvoiceTransaction] CHECK CONSTRAINT [FK_dbo.InvoiceTransaction_dbo.Invoice_InvoiceId]
GO
/****** Object:  ForeignKey [FK_dbo.LedgerAccount_dbo.LedgerAccount_ParentId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[LedgerAccount]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LedgerAccount_dbo.LedgerAccount_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[LedgerAccount] ([Id])
GO
ALTER TABLE [dbo].[LedgerAccount] CHECK CONSTRAINT [FK_dbo.LedgerAccount_dbo.LedgerAccount_ParentId]
GO
/****** Object:  ForeignKey [FK_dbo.LedgerAccount_dbo.LedgerAccountType_LedgerAccountTypeId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[LedgerAccount]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LedgerAccount_dbo.LedgerAccountType_LedgerAccountTypeId] FOREIGN KEY([LedgerAccountTypeId])
REFERENCES [dbo].[LedgerAccountType] ([Id])
GO
ALTER TABLE [dbo].[LedgerAccount] CHECK CONSTRAINT [FK_dbo.LedgerAccount_dbo.LedgerAccountType_LedgerAccountTypeId]
GO
/****** Object:  ForeignKey [FK_dbo.LedgerAccount_dbo.User_UserId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[LedgerAccount]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LedgerAccount_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LedgerAccount] CHECK CONSTRAINT [FK_dbo.LedgerAccount_dbo.User_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.LedgerAccountType_dbo.LedgerAccountType_ParentId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[LedgerAccountType]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LedgerAccountType_dbo.LedgerAccountType_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[LedgerAccountType] ([Id])
GO
ALTER TABLE [dbo].[LedgerAccountType] CHECK CONSTRAINT [FK_dbo.LedgerAccountType_dbo.LedgerAccountType_ParentId]
GO
/****** Object:  ForeignKey [FK_dbo.Menu_dbo.Menu_ParentId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Menu_dbo.Menu_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Menu] ([Id])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_dbo.Menu_dbo.Menu_ParentId]
GO
/****** Object:  ForeignKey [FK_dbo.MenuPermission_dbo.Menu_MenuId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[MenuPermission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MenuPermission_dbo.Menu_MenuId] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menu] ([Id])
GO
ALTER TABLE [dbo].[MenuPermission] CHECK CONSTRAINT [FK_dbo.MenuPermission_dbo.Menu_MenuId]
GO
/****** Object:  ForeignKey [FK_dbo.MenuPermission_dbo.Role_RoleId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[MenuPermission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MenuPermission_dbo.Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MenuPermission] CHECK CONSTRAINT [FK_dbo.MenuPermission_dbo.Role_RoleId]
GO
/****** Object:  ForeignKey [FK_dbo.MenuPermission_dbo.User_UserId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[MenuPermission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MenuPermission_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[MenuPermission] CHECK CONSTRAINT [FK_dbo.MenuPermission_dbo.User_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.Product_dbo.ProductCategory_ProductCategoryId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.ProductCategory_ProductCategoryId] FOREIGN KEY([ProductCategoryId])
REFERENCES [dbo].[ProductCategory] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.ProductCategory_ProductCategoryId]
GO
/****** Object:  ForeignKey [FK_dbo.ProductCategory_dbo.ProductCategory_ParentId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[ProductCategory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductCategory_dbo.ProductCategory_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[ProductCategory] ([Id])
GO
ALTER TABLE [dbo].[ProductCategory] CHECK CONSTRAINT [FK_dbo.ProductCategory_dbo.ProductCategory_ParentId]
GO
/****** Object:  ForeignKey [FK_dbo.Reward_dbo.RewardType_RewardTypeId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[Reward]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Reward_dbo.RewardType_RewardTypeId] FOREIGN KEY([RewardTypeId])
REFERENCES [dbo].[RewardType] ([Id])
GO
ALTER TABLE [dbo].[Reward] CHECK CONSTRAINT [FK_dbo.Reward_dbo.RewardType_RewardTypeId]
GO
/****** Object:  ForeignKey [FK_dbo.RewardUser_dbo.Reward_RewardId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[RewardUser]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RewardUser_dbo.Reward_RewardId] FOREIGN KEY([RewardId])
REFERENCES [dbo].[Reward] ([Id])
GO
ALTER TABLE [dbo].[RewardUser] CHECK CONSTRAINT [FK_dbo.RewardUser_dbo.Reward_RewardId]
GO
/****** Object:  ForeignKey [FK_dbo.RewardUser_dbo.User_UserId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[RewardUser]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RewardUser_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[RewardUser] CHECK CONSTRAINT [FK_dbo.RewardUser_dbo.User_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.RoleUser_dbo.Role_RoleId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[RoleUser]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoleUser_dbo.Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleUser] CHECK CONSTRAINT [FK_dbo.RoleUser_dbo.Role_RoleId]
GO
/****** Object:  ForeignKey [FK_dbo.RoleUser_dbo.User_UserId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[RoleUser]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoleUser_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleUser] CHECK CONSTRAINT [FK_dbo.RoleUser_dbo.User_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.State_dbo.Country_CountryId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[State]  WITH CHECK ADD  CONSTRAINT [FK_dbo.State_dbo.Country_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[State] CHECK CONSTRAINT [FK_dbo.State_dbo.Country_CountryId]
GO
/****** Object:  ForeignKey [FK_dbo.Transaction_dbo.LedgerAccount_CreditLedgerAccountId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transaction_dbo.LedgerAccount_CreditLedgerAccountId] FOREIGN KEY([CreditLedgerAccountId])
REFERENCES [dbo].[LedgerAccount] ([Id])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_dbo.Transaction_dbo.LedgerAccount_CreditLedgerAccountId]
GO
/****** Object:  ForeignKey [FK_dbo.Transaction_dbo.LedgerAccount_DebitLedgerAccountId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transaction_dbo.LedgerAccount_DebitLedgerAccountId] FOREIGN KEY([DebitLedgerAccountId])
REFERENCES [dbo].[LedgerAccount] ([Id])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_dbo.Transaction_dbo.LedgerAccount_DebitLedgerAccountId]
GO
/****** Object:  ForeignKey [FK_dbo.User_dbo.Leg_LegId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_dbo.User_dbo.Leg_LegId] FOREIGN KEY([LegId])
REFERENCES [dbo].[Leg] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_dbo.User_dbo.Leg_LegId]
GO
/****** Object:  ForeignKey [FK_dbo.User_dbo.MemberShipLevel_MemberShipLevelId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_dbo.User_dbo.MemberShipLevel_MemberShipLevelId] FOREIGN KEY([MemberShipLevelId])
REFERENCES [dbo].[MemberShipLevel] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_dbo.User_dbo.MemberShipLevel_MemberShipLevelId]
GO
/****** Object:  ForeignKey [FK_dbo.User_dbo.User_ParentId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_dbo.User_dbo.User_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_dbo.User_dbo.User_ParentId]
GO
/****** Object:  ForeignKey [FK_dbo.UserBankInfo_dbo.User_UserId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[UserBankInfo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserBankInfo_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserBankInfo] CHECK CONSTRAINT [FK_dbo.UserBankInfo_dbo.User_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.UserContactInfo_dbo.ContactType_ContactTypeId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[UserContactInfo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserContactInfo_dbo.ContactType_ContactTypeId] FOREIGN KEY([ContactTypeId])
REFERENCES [dbo].[ContactType] ([Id])
GO
ALTER TABLE [dbo].[UserContactInfo] CHECK CONSTRAINT [FK_dbo.UserContactInfo_dbo.ContactType_ContactTypeId]
GO
/****** Object:  ForeignKey [FK_dbo.UserContactInfo_dbo.User_UserId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[UserContactInfo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserContactInfo_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserContactInfo] CHECK CONSTRAINT [FK_dbo.UserContactInfo_dbo.User_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.UserPersonalInfo_dbo.City_CityId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[UserPersonalInfo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserPersonalInfo_dbo.City_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[UserPersonalInfo] CHECK CONSTRAINT [FK_dbo.UserPersonalInfo_dbo.City_CityId]
GO
/****** Object:  ForeignKey [FK_dbo.UserPersonalInfo_dbo.Gender_GenderId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[UserPersonalInfo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserPersonalInfo_dbo.Gender_GenderId] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[UserPersonalInfo] CHECK CONSTRAINT [FK_dbo.UserPersonalInfo_dbo.Gender_GenderId]
GO
/****** Object:  ForeignKey [FK_dbo.UserPersonalInfo_dbo.User_UserId]    Script Date: 03/13/2017 17:50:54 ******/
ALTER TABLE [dbo].[UserPersonalInfo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserPersonalInfo_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPersonalInfo] CHECK CONSTRAINT [FK_dbo.UserPersonalInfo_dbo.User_UserId]
GO
