
li.treeview{display: none}
li.treeview:nth-of-type(1){display:block}
li.treeview:nth-of-type(2){display:block}

.alert-warning{float:left}

.hidden
{
    display:none;
}
.loyout_logo
{
    width:200px;
    padding-top: 5px;
    padding-bottom: 10px;
}