@{
    ViewBag.Title = "Tree";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

 
<script type="text/javascript" src="https://www.google.com/jsapi"></script>  
 
<div id="empChart">
</div> 


<script type="text/javascript">

        google.load("visualization", "1", { packages: ["orgchart"] });
     
        function drawEmpChart() {

            $.ajax({
                type: "POST",
                url: "@Url.Content("~/User/GetTreeOrg")",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (empData) {

                    var chartData = new google.visualization.DataTable();

                    chartData.addColumn('string', 'Name');
                    chartData.addColumn('string', 'Manager');
                    chartData.addColumn('string', 'ToolTip');

                    $.each(empData, function (index, row) {
                        var reportID = row.ParentId.toString() == "0" ? '' : row.ParentId.toString();

                        chartData.addRows([[{
                            v: row.Id.toString(),
                            f: row.UserName + '<div>(<span>' + row.Designation + '</span>)<br/>' + row.Leg + '</div>'
                        }, reportID, row.Designation]]);
                    });

                    var chart = new google.visualization.OrgChart($("#empChart")[0]);
                    chart.draw(chartData, { allowHtml: true });
                },
                failure: function (xhr, status, error) {
                    alert("Failure: " + xhr.responseText);
                },
                error: function (xhr, status, error) {
                    alert("Error: " + xhr.responseText);
                }
            });
        }

    $(function () {
       
        $(window).load(function () {
            
            drawEmpChart();
        });

    });

    

</script>


 